<h1>My todos</h1>

<%= form_with model: @todo do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
      <div>
    <%= form.submit "Add Todo" %>
  </div>
<% end  %>

<% if @todos.any? %>
    <ul>
        <% @todos.each do |todo| %>
            <li><%= todo.title %></li>
        <% end %>
    </ul>
<% else %>
  <p>No todos yet! Add your first one above.</p>
<% end %>